*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?vfbrk8");
  src: url("../fonts/icons.eot?#iefixvfbrk8") format("embedded-opentype"), url("../fonts/icons.woff?vfbrk8") format("woff"), url("../fonts/icons.ttf?vfbrk8") format("truetype"), url("../fonts/icons.svg?vfbrk8#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star:before {
  content: "\e600"; }

.icon-location:before {
  content: "\e601"; }

html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0; }

p {
  margin-top: 0; }

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper .results {
    *zoom: 1; }
    .wrapper .results:before, .wrapper .results:after {
      content: " ";
      display: table; }
    .wrapper .results:after {
      clear: both; }

.controls {
  margin-bottom: 20px;
  padding: 0 10px; }

.person_card {
  position: relative;
  background-color: #F2F2F2;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  margin: 10px;
  width: calc(25% - 20px);
  height: 150px;
  float: left;
  *zoom: 1; }
  .person_card:before, .person_card:after {
    content: " ";
    display: table; }
  .person_card:after {
    clear: both; }
  .person_card .card_header {
    margin-bottom: 30px;
    max-height: 60px;
    overflow: hidden;
    *zoom: 1; }
    .person_card .card_header:before, .person_card .card_header:after {
      content: " ";
      display: table; }
    .person_card .card_header:after {
      clear: both; }
    .person_card .card_header h2 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0 0 0 70px; }
    .person_card .card_header h3 {
      font-size: 0.8rem;
      font-weight: normal;
      margin: 0 0 0 70px;
      color: #969696; }
    .person_card .card_header .photo {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 60px;
      height: 60px; }
  .person_card .interests_header {
    position: absolute;
    top: 60px;
    left: 10px;
    color: #00bdff;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0; }
  .person_card .interests_list {
    position: absolute;
    top: 80px;
    left: 5px;
    z-index: 1000;
    width: calc(100% - 10px);
    font-size: 0.75rem;
    overflow: hidden; }
    .person_card .interests_list ul {
      list-style: none;
      display: block;
      padding: 10px;
      height: 35px;
      text-overflow: ellipsis;
      border: 1px solid transparent;
      border-radius: 3px; }
      .person_card .interests_list ul li {
        display: inline-block; }
        .person_card .interests_list ul li::after {
          content: ",\00a0"; }
        .person_card .interests_list ul li:last-child::after {
          content: ""; }
      .person_card .interests_list ul:hover {
        height: auto;
        background-color: #fefefe;
        border: 1px solid #D8D8D8;
        z-index: 1000; }
  .person_card .favorite {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top-right-radius: 4px; }
    .person_card .favorite:before {
      display: block;
      margin-left: 2px;
      margin-top: 1px;
      color: #eee; }
    .person_card .favorite:hover {
      color: #EDB844;
      cursor: pointer; }
      .person_card .favorite:hover:before {
        color: #EDB844; }
  .person_card .favorited:before {
    color: #EDB844; }

@media (max-width: 1000px) {
  .person_card {
    width: calc(33.333% - 20px); } }
@media (max-width: 750px) {
  .person_card {
    width: calc(50% - 20px); } }
@media (max-width: 540px) {
  .person_card {
    width: calc(100% - 20px); } }
