*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?vfbrk8");
  src: url("../fonts/icons.eot?#iefixvfbrk8") format("embedded-opentype"), url("../fonts/icons.woff?vfbrk8") format("woff"), url("../fonts/icons.ttf?vfbrk8") format("truetype"), url("../fonts/icons.svg?vfbrk8#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-star:before {
  content: "\e600"; }

.icon-location:before {
  content: "\e601"; }

html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0;
  background-color: #F2F2F2;
  color: #333; }

p {
  margin-top: 0; }

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper .results {
    *zoom: 1; }
    .wrapper .results:before, .wrapper .results:after {
      content: " ";
      display: table; }
    .wrapper .results:after {
      clear: both; }

.controls {
  margin-bottom: 20px;
  padding: 0 10px;
  *zoom: 1; }
  .controls:before, .controls:after {
    content: " ";
    display: table; }
  .controls:after {
    clear: both; }
  .controls .sort {
    float: left; }
  .controls .pages {
    float: right; }
    .controls .pages ul {
      list-style: none;
      display: block;
      padding: 0;
      margin: 0; }
      .controls .pages ul li {
        display: inline-block; }
        .controls .pages ul li a {
          color: #333;
          display: block;
          text-decoration: none;
          border: 1px solid #D8D8D8;
          padding: 3px 5px;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.6);
          -webkit-transition: all 400ms;
          -moz-transition: all 400ms;
          transition: all 400ms; }
          .controls .pages ul li a:hover {
            background-color: #fff; }
        .controls .pages ul li.current a {
          border-color: #00bdff; }
          .controls .pages ul li.current a:hover {
            background-color: rgba(255, 255, 255, 0.6);
            cursor: default; }

.person_card {
  position: relative;
  background-color: #F9F9F9;
  padding: 0 10px 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  margin: 10px;
  width: calc(25% - 20px);
  height: 150px;
  float: left;
  *zoom: 1; }
  .person_card:before, .person_card:after {
    content: " ";
    display: table; }
  .person_card:after {
    clear: both; }
  .person_card .card_header {
    margin: 0 0 0 -10px;
    height: 80px;
    width: calc(100% + 20px);
    overflow: hidden;
    border-bottom: 1px solid #D8D8D8;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .person_card .card_header h2 {
      font-size: 1rem;
      font-weight: normal;
      margin: 10px 0 0 80px; }
    .person_card .card_header h3 {
      font-size: 0.8rem;
      font-weight: normal;
      margin: 0 0 0 80px;
      color: #969696; }
    .person_card .card_header .photo {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      width: 60px;
      height: 60px; }
  .person_card .interests_header {
    position: absolute;
    top: 70px;
    left: 10px;
    color: #00bdff;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0; }
  .person_card .interests_list {
    position: absolute;
    top: 90px;
    left: -1px;
    z-index: 1000;
    width: calc(100% + 2.5px);
    font-size: 0.75rem;
    overflow: hidden; }
    .person_card .interests_list ul {
      list-style: none;
      display: block;
      padding: 0 10px 10px;
      height: 25px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: transparent;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .person_card .interests_list ul li {
        display: inline-block; }
        .person_card .interests_list ul li::after {
          content: ",\00a0"; }
        .person_card .interests_list ul li:last-child::after {
          content: ""; }
      .person_card .interests_list ul.long:hover {
        height: auto;
        background-color: #F9F9F9;
        border-width: 0 1px 1px;
        border-style: solid;
        border-color: #D8D8D8;
        z-index: 1000; }
  .person_card .favorite {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-left: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-top-right-radius: 4px; }
    .person_card .favorite:before {
      display: block;
      margin-left: 6px;
      margin-top: 5px;
      color: #eee; }
    .person_card .favorite:hover {
      color: #EDB844;
      cursor: pointer; }
      .person_card .favorite:hover:before {
        color: #EDB844; }
  .person_card .favorited:before {
    color: #EDB844; }

@media (max-width: 1000px) {
  .person_card {
    width: calc(33.333% - 20px); } }
@media (max-width: 750px) {
  .person_card {
    width: calc(50% - 20px); } }
@media (max-width: 540px) {
  .person_card {
    width: calc(100% - 20px); } }
