@import 'bourbon/bourbon';

$fd-blue: #00BDFF;

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?vfbrk8');
	src:url('../fonts/icons.eot?#iefixvfbrk8') format('embedded-opentype'),
		url('../fonts/icons.woff?vfbrk8') format('woff'),
		url('../fonts/icons.ttf?vfbrk8') format('truetype'),
		url('../fonts/icons.svg?vfbrk8#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\e600";
}
.icon-location:before {
	content: "\e601";
}


html {
	font-size: 16px;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 0;
	background-color: #F2F2F2;
	color: #333;
}

p {
	margin-top: 0;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
	@include clearfix;

	.results {

		@include clearfix;
	}
}

.controls {
	margin-bottom: 20px;
	padding: 0 10px;
	@include clearfix;

	.sort {
		float: left;
	}

	.pages {
		float: right;

		ul {
			list-style: none;
			display: block;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;

				a {
					color: #333;
					display: block;
					text-decoration: none;
					border: 1px solid #D8D8D8;
					padding: 3px 5px;
					border-radius: 3px;
					background-color: rgba(255, 255, 255, 0.6);
					@include transition (all 400ms);

					&:hover {
						background-color: #fff;
					}
				}

				&.current a {
					border-color: $fd-blue;

					&:hover {
						background-color: rgba(255, 255, 255, 0.6);
						cursor: default;
					}
				}
			}
		}
	}
}

.person_card {
	position: relative;
	background-color: #F9F9F9;
	padding: 0 10px 10px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	margin: 10px;
	width: calc(25% - 20px);
	height: 150px;
	float: left;
	@include clearfix;

	.card_header {
		margin: 0 0 0 -10px;
		height: 80px;
		width: calc(100% + 20px);
		overflow: hidden;
		border-bottom: 1px solid #D8D8D8;
		background-color: #FFF;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		h2 {
			font-size: 1rem;
			font-weight: normal;
			margin: 10px 0 0 80px;
		}

		h3 {
			font-size: 0.8rem;
			font-weight: normal;
			margin: 0 0 0 80px;
			color: #969696;
		}

		.photo {
			position: absolute;
			top: 10px;
			left: 10px;
			display: block;
			width: 60px;
			height: 60px;
		}
	}

	.interests_header {
		position: absolute;
		top: 70px;
		left: 10px;
		color: $fd-blue;
		font-size: 0.9rem;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.interests_list {
		position: absolute;
		top: 90px;
		left: -1px;
		z-index: 1000;
		width: calc(100% + 2.5px);
		font-size: 0.75rem;
		overflow: hidden;

		ul {
			list-style: none;
			display: block;
			padding: 0 10px 10px;
			height: 25px;
			border-width: 0 1px 1px;
			border-style: solid;
			border-color: transparent;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			li {
				display: inline-block;

				&::after {
					content: ",\00a0";
				}


				&:last-child::after {
					content: "";
				}
			}

			&.long:hover {
				height: auto;
				background-color: #F9F9F9;
				border-width: 0 1px 1px;
				border-style: solid;
				border-color: #D8D8D8;
				z-index: 1000;
			}
		}
	}

	.favorite {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-left: 1px solid #D8D8D8;
		border-bottom: 1px solid #D8D8D8;
		border-top-right-radius: 4px;

		&:before {
			display: block;
			margin-left: 6px;
			margin-top: 5px;
			color: #eee;
		}

		&:hover {
			color: #EDB844;
			cursor: pointer;

			&:before {
				color: #EDB844;
			}
		}
	}

	.favorited:before {
		color: #EDB844;
	}
}

@media (max-width: 1000px) {

	.person_card {
		width: calc(33.333% - 20px);
	}
}

@media (max-width: 750px) {

	.person_card {
		width: calc(50% - 20px);
	}

	.controls .sort {
		margin-bottom: 20px;
		clear: both;
	}

	.controls .pages {
		float: left;
		clear: both;
	}
}


@media (max-width: 540px) {

	.person_card {
		width: calc(100% - 20px);
	}
}




